
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300;600;700&display=swap');
@import url("https://use.typekit.net/okr1cny.css");

body{
	/*background-color: #faa840;
	width: 85%;
	background: linear-gradient(#faa840,#f7724d);*/
	background: #dfdfdf;
	margin: 0;
	padding:0;
	font-size: 10px;
}
.disclaimer{
	background:url('images/dis-back.png');
	background-position: center;
	background-size:cover;
}

.navbar
{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
    justify-content: space-between;
  	align-items: flex-end;
  	margin-bottom: 10px;
  	padding-top:20px ;
  	padding-bottom: 50px;
}

.main-menu{
	margin: 0;
	padding: 0;
	display: contents;
}
.main-menu li{
	list-style: none;
	display: inline;
}
.main-menu li a{
	display:inline-block;
	padding:5px 5px;
	border: 2px solid #dfdfdf;
	margin-right: 5px;
	text-decoration: none;
	color: #35314e;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 0.8rem;
}

.disclaimer .main-menu li a{
	border: 2px solid #f9774d;
}

.main-menu li a:hover{
	border: 2px solid #f9774d;
	border-radius: 10px;
}
.main-menu .ico,.main-menu .ico:hover{
	padding:5px 5px;
	border: none;
	margin-right: 0;
}

.container{
	max-width: 920px;
	margin: 0 auto;
	padding: 10px;
	
}
.row{
	display: flex;
	
}
.col{
	display: flex;
	float: left;
	flex-direction: column;
	justify-content: center;
}
.banner{
	background:url("../img/block-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	padding: 20px 0px;
}
.banner-text{
	font-family: 'Aleo', serif;
	font-size: 2rem;
	padding: 0;
	margin: 0;
}
.banner-bold{
	font-weight: bold;
}
.block-title{
	display: block;
	font-family: 'Aleo', serif;
	font-size: 2.7rem;
	color: #353152;
	
	display: inline;
	margin-bottom: 5px;
	padding-right: 25px;
}
.blk-title{
	display: flex;
	align-items: flex-end;
	padding-bottom: 10px;
	border-bottom: 2px solid #d0d0d0;
}
.block-title-disclaimer{
	font-family: aleo-bold;
	font-size: 3rem;
	color: #f99b43;
	border-bottom: 2px solid #f99b43;
	display: inline;
	margin-bottom: 5px;
	padding-right: 75px
}

h2{
	color: #fff;
	font-size: 2rem;
}
h3{
	color: #fff;
	font-size: 1.2rem;
	margin: 0;
}
h3+p{
	margin-top: 0;
}
p{
	color: #353152;
	font-size: 1.1rem;
	font-family: 'Aleo', serif;
	font-weight: lighter;
}
a.link-content{
	display: contents;
}
.quote{
	/*background-color: #fab468;*/
	background: #ffffff;
	border: none;
	border-radius:100px;
	padding: 5px ;
	font-size: 1.2rem;
	font-family: 'Open Sans', sans-serif;
	display:flex;
	flex-direction: row;
	align-items: center;
}
.quote .quote-ico{
	display: block;
	padding: 0 20px 0px 10px;
	
}
.quote .tbold{
	font-weight: bold;
	padding-left: 20px;
	display:contents;
}
.block-quote{
	background: linear-gradient(to right,#353152,#dfdfdf);
	padding-left: 15px;
	padding-right: 25px;
	font-size: 1.7rem;
	display: block;
	padding: 5px 10px;
	margin-left: -30px;
	color: #ffffff;
}
.quote .content{
	display: block;
	font-family: 'Aleo', serif;
	font-size: 0.8rem;
	padding: 15px;
	color: #353152;
	font-weight:bold ;
}
.quote .content a{
	color: #353152;
}
.md5{
	width: 50%;
}
.md7{
	width: 70%;
}
.md3{
	width: 30%;
}
.mark{
	border: 3px solid #353152;
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
	margin-bottom: 30px;
	color: #353152;;
	font-size: 1.5rem;
	font-family: 'Aleo', serif;
}
.icon-list{
	list-style: none;
	color: #353152;
	font-size: 1.2rem;
}
.icon-list li{
	padding: 20px 10px;
	display: flex;
	align-items: center;
	font-family: 'Aleo', serif;
	color: #353152;
}
.list-ico{
	padding-right: 25px;
}
.formula{
	color: #353152;
	font-size: 1.2rem;
	padding-left: 40px;
	font-weight: bold;
}

.list-white {
  list-style: none;
  color: #353152;
  font-size: 1.2rem;
  font-weight: bold;
}

.list-white li::before {
  content: "\2022";
  color: #f4714c;
  font-weight: bold;
  width: 1em;
  margin-left: -1em;
  padding-right: 10px;
}

.footer{
	background-color: #061121;
	width: 100%;
  
}
 .footer-block{
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }
.social-icos{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-flex;
}
.social-icos li{
	padding: 5px;
}
.social-icos li .net{
	color: #faa840;
	font-size: 2rem;
	text-decoration: none;
}
.f-menu{
	list-style: none;
	display: inline-block;
}
.f-menu li{
	padding: 5px 20px;
	text-align: end;
}
.f-menu li a{
	color: #fff;
	font-size: 1.2rem;
	text-align: right;
}
.footer .copy p{
	color: #ffffff;
	font-size: 0.8rem;
}